.auth__main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: $light;
  }
  
  
  .auth__box--container{
      padding: 1rem;
      width: 450px;
      background-color: $light;
  }
  
  .auth__title{
      padding: $baselineheight;
      margin-bottom: $gutterwidth * 1.5;
      color: $compcolor;
      text-align: left;
      font-size: fs(normal);
      font-family: $basefont;
      background-color: $light;
      border: solid 1px $compcolor;
  }
  
  .auth__input{
      padding: $baselineheight;
      margin-bottom: $baselineheight;
      font-size: fs(small);
      font-family: $altfont;
      color: $darkgrey;
      height: 40px;
      width: 100%;
      border: 0;
      border-bottom: 1px dashed $primary;
      transition: border-bottom 1s ease-out;
      
      &:focus{
          border-bottom: 1px solid darken($primary, 25%);
          outline: none;
      }
  }
  
  .auth__social--networks{
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      padding-top: $gutterwidth;
      padding-bottom: $gutterwidth;
      width: 100%;
  }
  
  .auth__alert--error{
      display: flex;
      justify-content: center;
      margin-bottom: $gutterwidth;
      padding: $baselineheight;
      color: $light;
      background-color: $color-error;
  }