.bar{
    padding: $baselineheight;
    margin-bottom: $baselineheight / 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $light;
    border-top: solid 1px $black;
    border-bottom: solid 10px $black;

    &__title{
        margin-left: $gutterwidth;
        font-family: $basefont;
        font-size: fs(small);
        color: $black;
        font-weight: bold;

        &__name{
            text-decoration: underline;
        }
    }
}