.form__task {
  @extend %center;
  padding: $baselineheight;
  width: 95%;
  background-color: $light;
  padding-bottom: $gutterwidth;
  padding-left: $gutterwidth * 2;
  margin-bottom: $gutterwidth;
  border-bottom: dashed 2px $grey;

  &--input {
    border: none;
    border: solid 1px $grey;
    @extend %center;
    padding: $baselineheight * 1.5;
    background-color: $light;
    width: 90%;
    font-size: fs(normal);
    font-family: $basefont;
    margin-top: $gutterwidth;
  }
  &__btn {
    margin-top: $gutterwidth;
    width: 100%;
    text-align: center;

    &--edit,
    &--add {
      width: 25%;
      padding: $baselineheight;
      background-color: darken($compcolor, 5%);
      font-family: $basefont;
      font-size: fs(small) * 1.25;
      color: $light;
      border-radius: $radius;
      opacity: 1;

      &:hover {
        opacity: 0.9;
      }
    }

    &--cancel {
      padding: $baselineheight;
      margin-left: $gutterwidth;
      font-family: $altfont;
      font-size: fs(small);
      color: $black;
      font-weight: bold;
    }
  }
}

// clase que oculta el formulario
.active-form {
  display: none;
}

// priorities
.select__form {
  width: auto;
 

  &__title{
    padding-left: $baselineheight;
    color: $black;  
    font-size: fs(small);
    font-weight: bold;
    font-family: $altfont;
  }
  &__priorities {
    position: relative;
    padding: $baselineheight;
    height: 15px;
    width: 15%;
    transition: 0.5s ease all;
    cursor: pointer;
  }

  &__selected {
    padding: $baselineheight;
    width: 150px;
    color: $black;
    font-size: fs(x-small);
    font-weight: bold;
    font-family: $basefont;
    background-color: $primary;
  }

  &__options {
    padding: $baselineheight;
    position: absolute;
    top: 3rem;
    left: .5rem;
    width: 150px;
    max-height: 100px;
    overflow-y: auto;
    z-index: 1;
    background-color: $compcolor;
    border: solid 1px $white;
  }

  &__option {
    padding: $baselineheight;
    color: $black;
    font-size: fs(small);
    font-family: $altfont;
    text-align: left;
    border-bottom: dashed 1px $black;

    &:hover{
      color: $white;
    }
  }
}
