.form__task{
    @extend %center;
    padding: $baselineheight;
    width: 95%;
    background-color: $light;
    text-align: center;
    padding-bottom: $gutterwidth;
    margin-bottom: $gutterwidth;
    border-bottom: dashed 2px $grey;

    &--input{
        border: none;
        border: solid 1px $grey;
        @extend %center;
        padding: $baselineheight * 1.5;
        background-color: $light;
        width: 90%;
        font-size: fs(normal);
        font-family: $basefont;
    }
    &--btn{
        margin-top: $gutterwidth;
        width: 100%;
        text-align: center;
        
        button{
            width: 25%;
            padding: $baselineheight;
            background-color: darken($compcolor, 5%) ;
            font-family: $basefont;
            font-size: fs(small) * 1.25;
            color: $light;
            border-radius: $radius;
            opacity: 1;

            &:hover{
                opacity: .9;
            }
        }
    }
}