.project__sidebar--left {
  background-color: darken($light, 5%);
  margin-left: $baselineheight / 2;
  color: $black;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 25%;
  padding: 1rem;
  border-right: dashed 2px $grey;
}

.add__project {
  display: flex;
  align-items: center;
  padding: $baselineheight * 1.25;
  margin-bottom: $gutterwidth;
  font-size: fs(small) * 1.25;
  font-family: $basefont;
  color: $white;
  opacity: 0.9;
  border-radius: $radius;
  background-color: darken($primary, 25%);

  &:hover {
    opacity: 1;
  }
}

.project__new {
  margin-top: $gutterwidth;
  display: flex;
  align-items: center;
  cursor: pointer;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  transition: color 0.3s ease;

  i {
    margin-right: 10px;
    color: $white;
    font-size: fs(small) * 1.25;
    opacity: 0.7;
  }

  &:hover {
    opacity: 1;
  }
}

.notes__title-input,
.notes__textarea {
  border: none;

  &:focus {
    outline: none;
  }
}

.project__title--input {
  width: 75%;
  margin-top: $baselineheight;
  padding: $baselineheight;
  color: $black;
  font-size: fs(small);
  font-family: $basefont;
  margin-bottom: $baselineheight;
  box-shadow: 1px 1px 2px $grey;
  border: solid 1px $black;
}

.project__description {
  width: 95%;
  margin-bottom: gutterwidth;
  padding: $baselineheight;
  color: $black;
  font-size: fs(small);
  resize: none;
  box-shadow: 1px 1px 2px $grey;
  font-family: $basefont;
}

.projects {
  width: 100%;
  margin-top: $gutterwidth;
  overflow-y: scroll;
}

.project {
  background-color: $black;

  display: flex;
  justify-content: space-between;
  color: $white;
  margin-bottom: 0.5rem;
  opacity: 0.8;
  //overflow: hidden;
  cursor: pointer;
}

/* .journal__entry--picture{
    background-color: transparent;
    width: 50vw;
  }*/

.project__body {
  width: 60%;
  border-radius: 10px;
  padding: 0.5rem;
}

.project__title {
  margin: 0;
  color: $white;
  text-align: left;
  font-size: 16px;
  font-weight: bold;
  font-family: $basefont;
}
.project__text {
  color: $white;
  margin-top: 0.5rem;
  font-size: 14px;
  text-align: left;
  opacity: 0.8;
  font-family: $basefont;
}

.project__date-box {
  width: 40%;
  margin: 0;
  padding: 0.5rem;
  display: flex;
  align-items: left;
  flex-direction: column;
  justify-content: center;
  background-color: $darkgrey;
  border-left: solid 3px $white;

  span,
  h4 {
    font-size: fs(small);
    color: $white;
    font-family: $basefont;
  }
}
