.project__sidebar--left {
  margin-left: $baselineheight / 2;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 25%;
  padding: $gutterwidth;
  background-color: $primary;
  //border-right: solid 10px $black;
}

.notes{
  @extend %center;
  padding: $baselineheight;
  width: 95%;
  border: solid 1px $black;

  p{
    line-height: $gutterwidth;
    font-family: $basefont;
    font-size: fs(small);
    margin-bottom: $baselineheight;
    font-weight: bold;
  }
}

.projects {
  width: 100%;
  margin-top: $gutterwidth;
  overflow-y: scroll;
}

.project {
  display: flex;
  justify-content: space-between;
  margin-bottom: $baselineheight;
  background-color: darken($compcolor, 15%);
  //overflow: hidden;
  opacity: 0.8;
  cursor: pointer;

  &:hover{
    opacity: 1;
  }
}

.project__dates {
  width: 60%;
  padding: $baselineheight;
}

.project__title {
  color: $white;
  text-align: left;
  font-size: fs(small);
  font-weight: bold;
  font-family: $basefont;
}
.project__text {
  color: $white;
  margin-top: $baselineheight;
  font-size: fs(small);
  text-align: left;
  opacity: 0.8;
  font-family: $basefont;
}

.project__date-box {
  width: 40%;
  padding: $baselineheight;
  display: flex;
  align-items: left;
  flex-direction: column;
  justify-content: center;
  background-color: $compcolor;
  border-left: solid 4px $primary;

  span,
  h4 {
    font-size: fs(x-small);
    color: $black;
    font-family: $basefont;
  }
}



